@import '../../fonts/iconfont.css';
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  outline-style: none;
  outline-color: invert;
  outline-width: medium;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scroll-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.scroll-wrapper .wrapper {
  width: 100%;
}
.scroll-wrapper .wrapper .header {
  width: 100%;
  height: 424px;
  padding-top: 66px;
  background: url("1_2.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  text-align: center;
}
.scroll-wrapper .wrapper .form {
  margin: 0 auto;
  margin-top: -180px;
  width: 90%;
  padding: 50px 60px 100px 60px;
  background: url("1_3.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.scroll-wrapper .wrapper .form .form-item {
  width: 100%;
  margin-top: 40px;
}
.scroll-wrapper .wrapper .form .form-item:first-child {
  margin-top: 0;
}
.scroll-wrapper .wrapper .form .form-item .form-input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 35px 30px;
  line-height: 30px;
  font-size: 24px;
  color: #000;
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  box-sizing: border-box;
}
.scroll-wrapper .wrapper .form .form-item .form-input::-webkit-input-placeholder {
  color: #cecece;
}
.scroll-wrapper .wrapper .form .form-btn-item:before,
.scroll-wrapper .wrapper .form .form-btn-item:after {
  content: " ";
  display: table;
}
.scroll-wrapper .wrapper .form .form-btn-item:after {
  clear: both;
}
.scroll-wrapper .wrapper .form .form-btn-item .form-input {
  float: left;
  width: 50%;
}
.scroll-wrapper .wrapper .form .form-btn-item .form-btn {
  float: right;
  display: block;
  width: 40%;
  height: 70px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 24px;
  background: #d8351d;
  outline: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 10px;
}
.scroll-wrapper .wrapper .form .form-btn-item .form-btn.disabled {
  background: #ccc;
}
.scroll-wrapper .wrapper .form .form-prov-item:before,
.scroll-wrapper .wrapper .form .form-prov-item:after {
  content: " ";
  display: table;
}
.scroll-wrapper .wrapper .form .form-prov-item:after {
  clear: both;
}
.scroll-wrapper .wrapper .form .form-prov-item .inputBox {
  position: relative;
  float: left;
  width: 32%;
  margin-left: 2%;
  height: 70px;
  line-height: 70px;
  border-radius: 6px;
}
.scroll-wrapper .wrapper .form .form-prov-item .inputBox:first-child {
  margin-left: 0;
}
.scroll-wrapper .wrapper .form .form-prov-item .inputBox .form-select {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  color: #000;
  font-size: 24px;
  background: transparent;
  border: 1px solid #b5b5b5;
  box-sizing: border-box;
  border-radius: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.scroll-wrapper .wrapper .form .form-prov-item .inputBox .form-select .tooth {
  font-size: 24px!important;
}
.scroll-wrapper .wrapper .form .form-prov-item .inputBox .lxcy-icon {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 4;
  font-size: 30px;
}
.scroll-wrapper .wrapper .form-submit {
  width: 100%;
  height: 70px;
  margin: 50px auto 0 auto;
  color: #fff;
  text-align: center;
  font-size: 28px;
  line-height: 70px;
  background: #d8351d;
  border-radius: 35px;
}
.scroll-wrapper .bottom {
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #000;
}
.area_ctrl .area_btn_box .area_btn {
  font-size: 26px!important;
  line-height: 26px!important;
}
.area_ctrl .area_roll_mask .area_roll div .gear .tooth {
  height: 50px;
  line-height: 50px;
}
.area_ctrl .area_roll_mask .area_roll div .area_grid {
  height: 50px;
}
