@import '../../fonts/iconfont.css';
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  outline-style: none;
  outline-color: invert;
  outline-width: medium;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f9fa;
}
.withdraw-title {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f5f9fa;
  top: 81px;
  padding: 30px 40px;
  font-size: 25px;
  color: #666666;
  line-height: 25px;
}
.withdraw-title:before,
.withdraw-title:after {
  content: " ";
  display: table;
}
.withdraw-title:after {
  clear: both;
}
.withdraw-title .withdraw-title-left {
  float: left;
  width: 20%;
  text-align: center;
}
.withdraw-title .withdraw-title-mid {
  float: left;
  width: 30%;
  text-align: center;
}
.withdraw-title .withdraw-title-right {
  float: left;
  width: 50%;
  text-align: center;
}
.scroll-wrapper {
  position: absolute;
  left: 0;
  top: 167px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.scroll-wrapper .wrapper {
  background: #f5f9fa;
}
.scroll-wrapper .wrapper .withdraw-list .withdraw-item {
  padding: 30px 40px;
  color: #000;
  font-size: 23px;
  line-height: 28px;
  border-bottom: 1px solid #d5d5d5;
  background: #fff;
}
.scroll-wrapper .wrapper .withdraw-list .withdraw-item:before,
.scroll-wrapper .wrapper .withdraw-list .withdraw-item:after {
  content: " ";
  display: table;
}
.scroll-wrapper .wrapper .withdraw-list .withdraw-item:after {
  clear: both;
}
.scroll-wrapper .wrapper .withdraw-list .withdraw-item:last-child {
  border-bottom: none;
}
.scroll-wrapper .wrapper .withdraw-list .withdraw-item .withdraw-item-left {
  float: left;
  width: 20%;
  text-align: center;
}
.scroll-wrapper .wrapper .withdraw-list .withdraw-item .withdraw-item-mid {
  float: left;
  width: 30%;
  text-align: center;
}
.scroll-wrapper .wrapper .withdraw-list .withdraw-item .withdraw-item-right {
  float: left;
  width: 50%;
  text-align: center;
}
